<div class="container mt-5 mb-6">
  <div class="table-container">
    <h2>Qualifikationenübersicht</h2>
    <div class="input-group mb-2">
      <input #newQualification type="text" class="form-control" placeholder="Neue Qualifikation" aria-label="Neue Qualifikation">
      <a (click)="this.addQuali(newQualification)" class="btn btn-outline-primary">+</a>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Qualifikationen</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let q of qualifications$ | async" (click)="viewQuali(q.id || -1)">
        <td>{{q.skill }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>



