<div class="container mt-5 mb-6">
  <div class="table-container">
    <h2>Mitarbeiterübersicht</h2>
    <div class="input-group mb-2">
      <input #filter type="text" class="form-control" placeholder="Suche" aria-label="Suche">
      <a (click)="this.filterEmployees(filter)" class="btn btn-outline-primary"><i class="bi bi-search"></i></a>
      <a *ngIf="showCancel" (click)="this.cancelSearch(filter)" class="btn btn-outline-danger"><i class="bi bi-x-circle"></i></a>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>PersNr.</th>
        <th>Nachname</th>
        <th>Vorname</th>
        <th class="mobileOnlyCell">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let e of employees$ | async" (click)="editEmployee(e.id || -1)">
        <td>{{e.id}}</td>
        <td>{{e.lastName }}</td>
        <td>{{e.firstName}}</td>
        <td class="mobileOnlyCell"><i class="bi bi-caret-right-fill"></i></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="fixed-bottom-bar">
  <button type="button" class="btn btn-primary" routerLink="/addemployee">Neuer Mitarbeiter</button>
</div>



