
@media screen and (min-width: 600px) {

  .landing-page-wrapper h1, h2 {
    font-family: "Calibri", "Times New Roman", serif;
    margin: 10px
  }

  .landing-page-wrapper h1 {
    font-size: 96px;
  }

  .landing-page-wrapper h2 {
    font-size: 48px;
  }

  .landing-page-wrapper a {
    font-size: 28px;
  }
}
