<div class="sidebar-wrapper collapsed">
<div class="sidebar">

  <div class="sidebar-toggler" (click)="toggleSidebar()">
    <h3>EMS</h3>
    <span><i class="bi bi-list"></i></span>
  </div>
  <hr>
  <!-- nur provisorisch -->
  <a href="#" class="sidebar-link"><i class="bi bi-lightbulb"></i> <span> Qualifikationen</span></a>
  <a href="#" class="sidebar-link"><i class="bi bi-people"></i> <span> Personalwesen</span></a>
  <a href="#" class="sidebar-link"><i class="bi bi-sliders"></i> <span> Einstellungen</span></a>
</div>

<div class="main-content">
  <div class="container">
    <app-employee-list></app-employee-list>
  </div>
</div>
</div>
