<div class="sidebar-wrapper">
  <div class="sidebar">

    <div class="sidebar-toggler" (click)="toggleSidebar()">
      <h3>EMS</h3>
      <span><i class="bi bi-list"></i></span>
    </div>
    <hr>
    <ul class="list-unstyled">
      <li>
        <a href="#" class="sidebar-link" data-bs-toggle="collapse" data-bs-target="#qualification-collapse" data-bs-aria-expanded="false"><i class="bi bi-lightbulb"></i><span>Qualifikationen</span><i class="bi bi-lightbulb"></i></a>
        <div class="collapse" id="qualification-collapse" style="">
          <ul class="list-unstyled bg-secondary">
            <li><a href="#" class="sidebar-link text-white"><i class=""></i><span>Overview</span></a></li>
            <li><a href="#" class="sidebar-link text-white"><i class=""></i><span>Updates</span></a></li>
            <li><a href="#" class="sidebar-link text-white"><i class=""></i><span>Reports</span></a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#" class="sidebar-link" data-bs-toggle="collapse" data-bs-target="#employees-collapse" data-bs-aria-expanded="false"><i class="bi bi-people"></i><span>Personalwesen</span></a>
        <div class="collapse" id="employees-collapse" style="">
          <ul class="list-unstyled bg-secondary">
            <li><a href="#" class="sidebar-link text-white"><i class=""></i><span>Overview</span></a></li>
            <li><a href="#" class="sidebar-link text-white"><i class=""></i><span>Updates</span></a></li>
            <li><a href="#" class="sidebar-link text-white"><i class=""></i><span>Reports</span></a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#" class="sidebar-link" data-bs-toggle="collapse" data-bs-target="#settings-collapse" data-bs-aria-expanded="false"><i class="bi bi-sliders"></i><span>Einstellungen</span></a>
        <div class="collapse" id="settings-collapse" style="">
          <ul class="list-unstyled bg-secondary">
            <li><a href="#" class="sidebar-link text-white"><i class=""></i><span>Overview</span></a></li>
            <li><a href="#" class="sidebar-link text-white"><i class=""></i><span>Updates</span></a></li>
            <li><a href="#" class="sidebar-link text-white"><i class=""></i><span>Reports</span></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="main-content">
    <div class="container">
      <app-employee-list></app-employee-list>
    </div>
  </div>
</div>
